body {
    background-image: url("images/bokeh-2990426_1920.jpg");
    background-repeat: repeat-y;
}

h1 {
    font-family: 'Asset', cursive;
    font-size: 36px;
    text-align: center;
}

#kittyClowder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#catCounter {
    font-family: 'Asset', cursive;
    font-size: 36px;
    text-align: center;
}

#charlieCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nextCounter {
    font-family: 'Asset', cursive;
    font-size: 36px;
    text-align: center;
}